@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
        <li class="dropdown nav-item">

            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Welcome @User.Identity.Name - Admin
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">View Profile - @User.Identity.Name</a>
                <a class="dropdown-item" asp-controller="Role" asp-action="UserRoles">Change User Permissions</a>
                <a class="dropdown-item" asp-controller="Home" asp-action="ViewRecords">Manage Collection</a>
                <a class="dropdown-item" asp-controller="Role" asp-action="CreateRole">Add User Type</a>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="dropdown-item text-left text-danger ">Logout</button>
                </form>
            </div>


        </li>
    }

    else if (SignInManager.IsSignedIn(User) && User.IsInRole("User"))
    {
        <li class="dropdown nav-item">

            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Welcome @User.Identity.Name - User
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item  text-dark " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">View Profile</a>
                <a class="dropdown-item  text-dark " asp-controller="Home" asp-action="ViewRecords">Manage Collection</a>
                <form class="form-inline  text-dark " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="dropdown-item text-left text-danger ">Logout</button>
                </form>
            </div>


        </li>

    }
    else if (SignInManager.IsSignedIn(User) && User.IsInRole("Unassigned"))
    {
        <li class="dropdown nav-item">

            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Welcome @User.Identity.Name
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item  text-dark " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">View Profile</a>
                <a class="dropdown-item  text-dark " asp-controller="Home" asp-action="ViewRecords">View Collection</a>
                <form class="form-inline  text-dark " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="dropdown-item text-left text-danger ">Logout</button>
                </form>
            </div>

        </li>

    }

    else
    {
        <li class="dropdown nav-item">

            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Welcome
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                <a class="dropdown-item  text-dark " asp-controller="Home" asp-action="ViewRecords">View Collection</a>
                <a class="dropdown-item  text-dark " asp-area="Identity" asp-page="/Account/Login">Login</a>
                <a class="dropdown-item  text-dark " asp-area="Identity" asp-page="/Account/Register">Register</a>

            </div>


        </li>

    }
</ul>
