@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model IntexFinalMummy.Models.C14sample

<div >
    <div>

        <label asp-for="Tube">Tube</label><br />

        <p>@Html.DisplayFor(model => model.Tube)</p>

    </div>

    <div>

        <label asp-for="C14description">C14Description</label><br />

        <p>@Html.DisplayFor(model => model.C14description)</p>

    </div>

    <div>

        <label asp-for="Size">Size</label><br />

        <p><p>@Html.DisplayFor(model => model.Size)</p></p>

    </div>

    <div>

        <label asp-for="Foci">Foci</label><br />

        <p>@Html.DisplayFor(model => model.Foci)</p>

    </div>

    <div>

        <label asp-for="C14Sample2017">C14Sample2017</label><br />

         <p>@Html.DisplayFor(model => model.C14Sample2017)</p>

    </div>

    <div>

        <label asp-for="Location">Location</label><br />
        <p>@Html.DisplayFor(model => model.Location)</p>

    </div>

    <div>

        <label asp-for="Questions">Questions</label><br />

    <p>@Html.DisplayFor(model => model.Questions)</p>

    </div>

    <div>

        <label asp-for="Conventional14CageBp">Conventional14CageBP</label><br />

        <p>@Html.DisplayFor(model => model.Conventional14CageBp)</p>

    </div>

    <div>

        <label asp-for="C14calendarDate">C14CalendarDate</label><br />

         <p>@Html.DisplayFor(model => model.C14calendarDate)</p>

    </div>

    <div>

        <label asp-for="Calibrated95perCalendarDateMax">Calibrated95perCalendarDateMax</label><br />
        <p>@Html.DisplayFor(model => model.Calibrated95perCalendarDateMax)</p>


    </div>

    <div>

        <label asp-for="Calibrated95perCalendarDateMin">Calibrated95perCalendarDateMin</label><br />
        <p>@Html.DisplayFor(model => model.Calibrated95perCalendarDateMin)</p>


    </div>

    <div>

        <label asp-for="Calibrated95perCalendarDateSpan">Calibrated95perCalendarDateSpan</label><br />

        <p>@Html.DisplayFor(model => model.Calibrated95perCalendarDateSpan)</p>

    </div>

    <div>

        <label asp-for="Calibrated95perCalendarAvg">Calibrated95perCalendarAvg</label><br />

        <p>@Html.DisplayFor(model => model.Calibrated95perCalendarAvg)</p>

    </div>

    <div>

        <label asp-for="Category">Category</label>

        <p>@Html.DisplayFor(model => model.Category)</p>

    </div>

    <div>

        <label asp-for="Lab">Lab</label>

        <p>@Html.DisplayFor(model => model.Lab)</p>



    </div>
</div>