@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IntexFinalMummy.Models.CraniumSample
    <!--Divs that contain appropriate info to list form the CraniumSample table-->
    <div>
        <div>

            <label asp-for="MaxCranialLength">MaxCranialLength</label><br />

            <p>@Html.DisplayFor(model => model.MaxCranialLength)</p>

        </div>

        <div>

            <label asp-for="MaxCranialBreadth">MaxCranialBreadth</label><br />

            <p>@Html.DisplayFor(model => model.MaxCranialBreadth)</p>

        </div>

        <div>

            <label asp-for="BasionBregmaHeight ">BasionBregmaHeight</label><br />

            <p>@Html.DisplayFor(model => model.BasionBregmaHeight)</p>

        </div>

        <div>

            <label asp-for="BasionNasion">BasionNasion</label><br />

            <p>@Html.DisplayFor(model => model.BasionNasion)</p>

        </div>

        <div>

            <label asp-for="BasionProsthionLength">BasionProsthionLength</label><br />

            <p>@Html.DisplayFor(model => model.BasionNasion)</p>

        </div>

        <div>

            <label asp-for="BizygomaticDiameter">BizygomaticDiameter</label><br />

            <p>@Html.DisplayFor(model => model.BizygomaticDiameter)</p>

        </div>

        <div>

            <label asp-for="NasionProsthion">NasionProsthion</label><br />

            <p>@Html.DisplayFor(model => model.NasionProsthion)</p>

        </div>

        <div>

            <label asp-for="MaxNasalBreadth">MaxNasalBreadth</label><br />

            <p>@Html.DisplayFor(model => model.MaxNasalBreadth)</p>

        </div>

        <div>

            <label asp-for="InterorbitalBreadth">InterorbitalBreadth</label><br />

            <p>@Html.DisplayFor(model => model.InterorbitalBreadth)</p>

        </div>

        <div>

            <label asp-for="ShelfNum">ShelfNum</label><br />

            <p>@Html.DisplayFor(model => model.ShelfNum)</p>

        </div>

        <div>

            <label asp-for="RackNumEgypt">RackNumEgypt</label><br />

            <p>@Html.DisplayFor(model => model.MaxNasalBreadth)</p>

        </div>

        <div>

            <label asp-for="GilesSex">GilesSex</label>
            <p>@Html.DisplayFor(model => model.GilesSex)</p>


        </div>
    </div>