@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model IntexFinalMummy.Models.MummyInfo


<!--Entry Summary for the View Individual Record-->

<tr>
    <td class="cell100 column1">@Model.MummyId </td>
    <td class="cell100 column2">@Model.Sex</td>
    <td class="cell100 column3">@Model.MinAge</td>
    <td class="cell100 column4">@Model.MaxAge</td>
    <td class="cell100 column5">@Model.HairColor</td>
    <td class="cell100 column6">@Model.BurialDepth</td>
    <td class="cell100 column7">@Model.ArtifactsDescription</td>
    <td class="cell100 column8">@Model.MummyDescription</td>
  
        <partial name="ViewIndividualRecordButtonSummary" />
    
    @if (User.IsInRole("Admin"))
    {
        <partial name="DeleteButtonSummary" />
    }
</tr>