
<!--If you are reading this you are really thorough, just another view partial for square-->
@model IntexFinalMummy.Models.Square
 
<div class="container">
    
    <div>
        <label asp-for="LowNs">N/S Low Number</label>
        <p>@Html.DisplayFor(model => model.LowNs)</p>
    </div>
    <div>
        <label asp-for="HighNs">N/S High Number</label>
        <p>@Html.DisplayFor(model => model.HighNs)</p>
    </div>
    <div>
        <label asp-for="NS">North or South?</label>
        <p>@Html.DisplayFor(model => model.LowNs)</p>
    </div>
    <div>
        <label asp-for="LowEw">E/W Low Number</label>
        <p>@Html.DisplayFor(model => model.LowEw)</p>
    </div>
    <div>
        <label asp-for="HighEw">E/W High Number</label>
        <p>@Html.DisplayFor(model => model.HighEw)</p>
    </div>
    <div>
        <label asp-for="EW">East or West?</label>
        <p>@Html.DisplayFor(model => model.LowNs)</p>
    </div>
   </div>
