@model IntexFinalMummy.Models.MummyInfo
<!--View Partial for the View Individual column 2-->
<div >

<div>

    <label asp-for="HeadDirection">HeadDirection</label><br />

    <<p>@Model.HeadDirection </p>

</div>

<div>

    <label asp-for="FieldBookYear">FieldBookYear</label><br />

    <p>@Model.HeadDirection</p>

</div>

<div>

    <label asp-for="FieldBookPageNum">FieldBookPageNum</label><br />

   <p>@Model.FieldBookPageNum</p>

</div>

<div>

    <label asp-for="PreservationDescription">PreservationDescription</label><br />

    <p>@Model.PreservationDescription</p>

</div>

<div>

    <label asp-for="PreviouslySampled">PreviouslySampled</label><br />

    <p>@Model.PreviouslySampled</p>

</div>

<div>

    <label asp-for="BurialSituationNotes">BurialSituationNotes</label><br />

    <p>@Model.BurialSituationNotes</p>

</div>

<div>

    <label asp-for="LengthOfRemains">LengthOfRemains</label><br />

    <p>@Model.LengthOfRemains</p>

</div>

<div>

    <label asp-for="GefunctionTotal">GefunctionTotal</label><br />

    <p>@Model.GefunctionTotal</p>

</div>

<div>

    <label asp-for="SexGe">SexGE</label><br />

    <p>@Model.SexGe</p>

</div>

<div>

    <label asp-for="VentralArc">VentralArc</label><br />

    <p>@Model.VentralArc</p>

</div>

<div>

    <label asp-for="SubponicAngle">SubponicAngle</label><br />

    <p>@Model.SubponicAngle</p>

</div>

<div>

    <label asp-for="SciaticNotch">SciaticNotch</label><br />

    <p>@Model.SciaticNotch</p>

</div>

<div>

    <label asp-for="PubicBone">PubicBone</label><br />

     <p>@Model.PubicBone</p>

</div>

<div>

    <label asp-for="PreaurSulcus">PreaurSulcus</label><br />

    <p>@Model.PreaurSulcus</p>

</div>

<div>

    <label asp-for="MedialIpramus">MedialIPramus</label><br />

   <p>@Model.MedialIpramus</p>

</div>

<div>

    <label asp-for="DorsalPitting">DorsalPitting</label><br />

    <p>@Model.DorsalPitting</p>

</div>

<div>

    <label asp-for="FormanMagnum">Forman Magnum</label><br />

    <p>@Model.FormanMagnum</p>

</div>

<div>

    <label asp-for="FemurHead">FemurHead</label><br /><br />

    <p>@Model.FormanMagnum</p>

</div>

<div>

    <label asp-for="HumerusHead">HumerusHead</label><br />

    <p>@Model.HumerusHead</p>

</div>

<div>

    <label asp-for="Osteophystosis">Osteophystosis</label><br />

    <p>@Model.Osteophystosis</p>

</div>

<div>

    <label asp-for="PubicSymphysis">PubicSymphysis</label><br />

    <p>@Model.PubicSymphysis</p>

</div>

<div>

    <label asp-for="FemurLength">Femur Length</label><br />

   <p>@Model.FemurLength</p>

</div>

<div>

    <label asp-for="HumerusLength">HumerusLength</label><br />

    <p>@Model.HumerusLength</p>

</div>

<div>

    <label asp-for="TibiaLength">TibiaLength</label><br />

    <p>@Model.TibiaLength</p>

</div>

<div>

    <label asp-for="Robust">Robust</label><br />

    <p>@Model.Robust</p>

</div>

<div>

    <label asp-for="SupraorbitalRidges">SupraorbitalRidges</label><br />

    <p>@Model.SupraorbitalRidges</p>

</div>

<div>

    <label asp-for="OrbitEdge">OrbitEdge</label><br />

    <p>@Model.OrbitEdge</p>

</div>

<div>

    <label asp-for="ParietalBossing">ParietalBossing</label><br />

    <p>@Model.ParietalBossing</p>

</div>

<div>

    <label asp-for="Gonian">Gonian</label><br />

    <p>@Model.Gonian</p>

</div>
    </div>