@model IntexFinalMummy.Models.MummyInfo
    <div >
        <div >

            <label asp-for="NuchalCrest">NuchalCrest</label><br />

            <p>@Model.NuchalCrest</p>

        </div>

        <div>

            <label asp-for="ZygomaticCrest">ZygomaticCrest</label><br />

            <p>@Model.ZygomaticCrest</p>

        </div>

        <div>

            <label asp-for="CranialSuture">CranialSuture</label><br />

            <p>@Model.CranialSuture</p>

        </div>

        <div>

            <label asp-for="EstLivingStature">EstLivingStature</label><br />

            <p>@Model.EstLivingStature</p>

        </div>

        <div>

            <label asp-for="ToothAttrition">ToothAttrition</label><br />

            <p>@Model.ToothAttrition</p>

        </div>

        <div>

            <label asp-for="ToothEruption">ToothEruption</label><br />

            <p>@Model.ToothEruption</p>

        </div>

        <div>

            <label asp-for="PathalogyAnomaly">PathalogyAnomaly</label><br />

            <p>@Model.PathalogyAnomaly</p>
        </div>

        <div>

            <label asp-for="EpiphysealUnion">EpiphysealUnion</label><br />

            <p>@Model.EpiphysealUnion</p>

        </div>

        <div>

            <label asp-for="ByuSample">ByuSample</label><br />

            <p>@Model.ByuSample</p>

        </div>

        <div>

            <label asp-for="ToBeConfirmed">ToBeConfirmed</label><br />

           <p>@Model.ToBeConfirmed</p>

        </div>

        <div>

            <label asp-for="SkullTrauma">SkullTrauma</label><br />

            <p>@Model.SkullTrauma</p>

        </div>

        <div>

            <label asp-for="PostcraniaTrauma">PostcraniaTrauma</label><br />

            <p>@Model.PostcraniaTrauma</p>

        </div>

        <div>

            <label asp-for="CibraOrbitala">Cibra Orbitala</label><br />

             <p>@Model.CibraOrbitala</p>

        </div>

        <div>

            <label asp-for="PoroticHyperostosis">PoroticHyperostosis</label><br />

            <p>@Model.PoroticHyperostosis</p>

        </div>

        <div>

            <label asp-for="PoroticHyperostosisLocations">PoroticHyperostosisLocations</label><br />

            <p>@Model.PoroticHyperostosisLocations</p>
            


        </div>

        <div>

            <label asp-for="MetopicSuture">MetopicSuture</label><br />

            <p>@Model.MetopicSuture</p>

        </div>

        <div>

            <label asp-for="ButtonOsteoma">ButtonOsteoma</label><br />

            <p>@Model.ButtonOsteoma</p>

        </div>

        <div>

            <label asp-for="OsteologyUnknownComment">OsteologyUnknownComment</label><br />

            <p>@Model.OsteologyUnknownComment</p>

        </div>

        <div>

            <label asp-for="TemporalMandibularJointOsteoarthritis">TemporalMandibularJointOsteoarthritis</label><br />

            <p>@Model.TemporalMandibularJointOsteoarthritis</p>

        </div>

        <div>

            <label asp-for="LinearHypoplasiaEnamel">LinearHypoplasiaEnamel</label><br />

            <p>@Model.LinearHypoplasiaEnamel</p>

        </div>

        <div>

            <label asp-for="Area">Area</label><br />

            <p>@Model.Area</p>

        </div>

        <div>

            <label asp-for="Tomb">Tomb</label><br />

            <p>@Model.Tomb</p>

        </div>

        <div>

            <label asp-for="FaceBundle">FaceBundle</label><br />

            <p>@Model.FaceBundle</p>

        </div>

        <div>

            <label asp-for="BodyAnalysisYear">BodyAnalysisYear</label><br />

            <p>@Model.BodyAnalysisYear</p>

        </div>

        <div>

            <label asp-for="SkullAtMagazine">SkullAtMagazine</label><br />

            <p>@Model.SkullAtMagazine</p>

        </div>

        <div>

            <label asp-for="PostcraniaAtMagazine">PostcraniaAtMagazine</label><br />

            <p>@Model.PostcraniaAtMagazine</p>

        </div>

        <div>

            <label asp-for="DataEntryExpert">DataEntryExpert</label><br />

           <p>@Model.DataEntryExpert</p>

        </div>

        <div>

            <label asp-for="DataEntryChecker">DataEntryChecker</label><br />

            <p>@Model.DataEntryChecker</p>

        </div>

        <div>

            <label asp-for="OsteologyNotes">OsteologyNotes</label><br />

            <p>@Model.OsteologyNotes</p>

        </div>

    </div>