

@model IntexFinalMummy.Models.MummyInfo




<div class="container">
<div>

    <label asp-for="BurialNumber">BurialNumber</label> <br />

    <p>@Model.BurialNumber</p>

</div>

<div>

    <label asp-for="AdultChild">AdultChild</label><br />

    <p>@Model.AdultChild</p>

</div>

<div>

    <label asp-for="Sex">Sex</label><br />

    <p>@Model.Sex</p>

</div>

<div>

    <label asp-for="SexMethod">SexMethod</label><br />

    <p>@Model.SexMethod</p>

</div>

<div>

    <label asp-for="MinAge">MinAge</label><br />

    <p>@Model.MinAge</p>

</div>

<div>

    <label asp-for="MaxAge">MaxAge</label><br />

    <p>@Model.MaxAge</p>

</div>

<div>

    <label asp-for="HairColor">HairColor</label><br />

    <p>@Model.HairColor</p>

</div>

<div>

    <label asp-for="Sample">Sample</label><br />

    <p>@Model.Sample</p>

</div>

<div>

    <label asp-for="YearDiscovered">YearDiscovered</label><br />

    <p>@Model.YearDiscovered</p>

</div>

<div>

    <label asp-for="MonthDiscovered">MonthDiscovered</label><br />

    <p>@Model.MonthDiscovered</p>

</div>

<div>

    <label asp-for="DayDiscovered">DayDiscovered</label><br />

    <p>@Model.DayDiscovered</p>

</div>

<div>

    <label asp-for="Artifacts">Artifacts</label><br />

    <p>@Model.Artifacts</p>

</div>

<div>

    <label asp-for="ArtifactsDescription">ArtifactsDescription</label><br />

    <p>@Model.ArtifactsDescription</p>

</div>

<div>

    <label asp-for="HairTaken">HairTaken</label><br />

    <p>@Model.HairTaken</p>

</div>

<div>

    <label asp-for="SoftTissueTaken">SoftTissueTaken</label><br />

    <p>@Model.SoftTissueTaken</p>

</div>

<div>

    <label asp-for="BoneTaken">BoneTaken</label><br />

    <p>@Model.BoneTaken</p>

</div>

<div>

    <label asp-for="ToothTaken">ToothTaken</label><br />

   <p>@Model.ToothTaken</p>

</div>

<div>

    <label asp-for="TextileTaken">TextileTaken</label><br />

    <p>@Model.TextileTaken</p>

</div>

<div>

    <label asp-for="MummyDescription">MummyDescription</label><br />

    <p>@Model.MummyDescription</p>

</div>

<div>

    <label asp-for="BurialDepth">BurialDepth</label><br />

    <p>@Model.BurialDepth</p>

</div>

<div>

    <label asp-for="ExtractedOrder">ExtractedOrder</label><br />

   <p>@Model.ExtractedOrder</p>

</div>

<div>

    <label asp-for="SkullYear">SkullYear</label><br />

    <p>@Model.SkullYear</p>

</div>

<div>

    <label asp-for="SkullMonth">SkullMonth</label><br />

    <p>@Model.SkullMonth</p>

</div>

<div>

    <label asp-for="SkullDay">SkullDay</label><br />

    <p>@Model.SkullDay</p>

</div>

<div>

    <label asp-for="SouthToHead">SouthToHead</label><br />
    <p>@Model.SouthToHead</p>

</div>

<div>

    <label asp-for="SouthToFeet">SouthToFeet</label><br />

    <p>@Model.SouthToFeet</p>

</div>

<div>

    <label asp-for="WestToHead">WestToHead</label><br />

    <p>@Model.WestToHead</p>

</div>

<div>

    <label asp-for="WestToFeet">WestToFeet</label><br />

    <p>@Model.WestToFeet</p>

</div>


</div>
